{% extends "base.html" %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block localCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/login.css' %}" />
{% endblock %}
{% block content %}
<div class="login">
    <h1>LOG IN</h1>
    <div class="container-fluid">
        <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <input type="text" id="username" placeholder="nom d'utilisateur" name="username">
            </div>
            <div class="row justify-content-center">
                    <input type="password" id="password" placeholder="mot de passe" name="password">
            </div>
            <div class="row justify-content-center">
                    <button type="submit" class="zad-button">Login</button>    
            </div>
            
            {% for message in messages %}

            <div class="alert">
                {{ message }}

            </div>
            {% endfor %}
        </form>
    </div>
</div>
</div>
{% endblock %}