@import "../../../../static/scss/theme.scss";

#content {
  background-color: $accent-color;
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  .login {
    width: 100%;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 7px 26px 37px -6px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 7px 26px 37px -6px rgba(0, 0, 0, 0.53);
    box-shadow: 7px 26px 37px -6px rgba(0, 0, 0, 0.53);
    input {
      outline: none;
      margin: 8px;
      width: 30%;
      display: inline-block;
      border: none;
      border-bottom: 1px solid black;
      -webkit-transition: width 0.4s ease;
      -moz-transition: width 0.4s ease;
      -o-transition: width 0.4s ease;
      transition: width 0.4s ease;
      &:focus {
        border: none;
        width: 60%;
        border-bottom: 1px solid $ternary-color;
      }
    }
    .alert {
      color: red;
    }
  }
}
